/*pagina principal*/
body{
    background-color: rgb(9, 9, 9);
    color: aliceblue;
}
.sob{
    background-image: url(imagens/casa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
    height: 390px;
    color: beige;
    padding-bottom: 200px;
    
}
.sob p{
    margin-left: 50px;
    margin-right: 390px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: relative; /* Garante que o título e o parágrafo estejam posicionados relativamente à .sob */
    z-index: 2; /* Coloca o título e o parágrafo acima da sobreposição */
}
.sob h1{
    margin-top: 100px;
    margin-left: 50px;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative; /* Garante que o título e o parágrafo estejam posicionados relativamente à .sob */
    z-index: 2; /* Coloca o título e o parágrafo acima da sobreposição */
}
.sob a{
    padding: 50px;
    position: relative; /* Garante que o título e o parágrafo estejam posicionados relativamente à .sob */
    z-index: 2; /* Coloca o título e o parágrafo acima da sobreposição */
}
.sob button{
    width: 190px;
    height: 45px;
    border-radius: 10px;
    font-size: 17px;
    background-color: beige;
    border: solid 0px;
    position: relative; /* Garante que o título e o parágrafo estejam posicionados relativamente à .sob */
    z-index: 2; /* Coloca o título e o parágrafo acima da sobreposição */
}
.pos {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-color: rgba(9, 9, 9, 0.673); /* Cor de sobreposição com 50% de opacidade */
    z-index: 1; /* Coloca a sobreposição acima da imagem de fundo */
}

/*funcionario*/
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 25px; 
    background-color: rgba(255, 255, 255, 0.842); 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    position: relative;
    z-index: 2;
    margin: 0 auto;
}

.menu button {
    background-color: #ff6600de;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 10px; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.menu button:hover {
    background-color: #ff8800ee;
    transform: scale(1.05);
    color:#ffffff
}

.menu button:focus {
    box-shadow: 0 0 0 3px rgba(255, 145, 1, 0.747);
}

#loginBtn {
    padding: 13px 20px; 
}

.login{
    background-color: rgba(255, 68, 0, 0.814);
    padding: 10px;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    border: none;
    font-size: 18px;
}
.login:hover{
    background-color: rgba(233, 78, 22, 0.929);
}

.container{
    color: white;
    display: flex;
    align-items: center;
    margin-left: 90px; 
    padding-top: 100px;
}
.container img{
    margin-left: 100px;
    width: 900px;
    height: 500px;
    border-radius: 2px;
}
.parag {
    margin-top: 70px;
    margin-left: 10px; /* Ajuste conforme necessário */
    margin-right: 250px;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    display: block;/*ocupa todo o espaço,se acabar pula linha*/
    
}

.texto {
    display: block;
    margin-bottom: 150px;
    margin-top: 100px;
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    flex-grow: 1;/* ocupar todo o espaço extra disponível no contêiner*/
}
.texto h1{
    color: rgb(220, 115, 23);
}

/*segunda pagina*/

.serviço .paragrafo{
    color: rgb(255, 106, 0);
    font-size: 25px;

}
.serviço > p.eco{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 23px;
}
.serviço p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left:190px;
    margin-right: 210px;
    font-size: 16px;
}
/*pagina de serviços*/
.hospedagem h1{
    text-align: center;
    margin-left: 5px;
    font-size: 18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.hospedagem p{
    font-size: 13px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 19px;
    text-align: justify;
    margin-left: 14px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}
.hospedagem{
    padding: 10px 200px; /* Ajuste o padding conforme necessário */
    padding-top: 40px;
    display: inline-block;
    display: flex; /* Use flex para alinhar itens horizontalmente */
    justify-content: space-between; /* Distribuir espaço uniformemente */
}
.laranja img{
    width: 330px;
    height: 230px;  
    border-radius: 9px;
    text-align: center;
}
.laranja:hover{
    transform: scale(1.1);/*espaço de transformação do elemento*/
    transition: transform 0.3s;/*duração da transmição*/
}
.laranja{
    margin-top: -30px;
    background-color: rgb(14, 14, 14);
    width: 350px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    display: inline-block; /* Garantir que os elementos .laranja sejam inline-block*/
    border-radius: 9px;
    margin-right:20px; /* Adicionar espaço entre os elementos */
}
.acomodaçoes{
    display: flex;
    justify-content: space-between;
    padding: 0px 200px; /* Ajuste o padding conforme necessário */
}
.acomodaçoes h1{
    text-align: center;
    margin-left: 5px;
    font-size: 18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.acomodaçoes p{
    font-size: 13px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 19px;
    text-align: justify;
    margin-left: 14px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}
.areas img{
    width: 330px;
    height: 230px;
    border-radius: 9px;

}
.areas:hover{
    transform: scale(1.1);
    transition:  transform 0.3s;
}
.areas{
    background-color: rgb(14, 14, 14);
    width: 330px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    display: inline-block; /* Garantir que os elementos .areas sejam inline-block*/
    border-radius: 9px;
    margin-right:20px; /* Adicionar espaço entre os elementos */
    margin-top: 20px;
}

/* Estilos para o modal */
/*esconder o modal por padrao*/
.modal {
    display: none; 
    position: fixed; 
    z-index: 3; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); 
    padding-top: 60px;

}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 30px;
    border: 1px solid #888;
    width: 80%;
    max-width: 450px;
    border-radius: 12px;

}

/* Botão de fechar */
.close {
    color: #842c2c;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

  
.title_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;/*espaço entre elementos de um container,usado junto com flex ou grid*/

}
  
.title {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: #212121;
}
  
.subtitle {
    font-size: 1rem;
    max-width: 80%;
    text-align: center;
    line-height: 1.1rem;/*espaçamento entre linhas*/
    color: #8B8E98
}
  
.input_container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
  
.icon {
    width: 20px;
    position: absolute;
    z-index: 99;
    left: 12px;
    bottom: 9px;
}
  
.input_label {

    font-size: 0.875rem;
    font-weight: 500;
    color: #333;
    font-weight: 500;
}
  
.input_field {
    width: auto;
    height: 40px;
    padding: 0 0 0 40px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #e5e5e5;
    filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}
  
.input_field:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px #242424;
    background-color: transparent;
}
  
.sign-in_btn {
    width: 100%;
    height: 40px;
    border: 0;
    background: #115DFC;
    border-radius: 7px;
    color: #ffffff;
    cursor: pointer;
    margin-top: 30px;
}
.sign-in_btn:hover{
    background-color: #0c3ba2;
}

.sign-in_ggl {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border-radius: 7px;
    color: #242424;
    border: 1px solid #e5e5e5;
    filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    cursor: pointer;
}
  
.sign-in_ggl:hover {
    background-color: #5168991d;
}

  
.separator {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: #8B8E98;
}
  
.separator .line {
    display: block;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #e8e8e8;
}

.funcionario{
    border: none;
    background-color: rgba(240, 248, 255, 0);
    font-size: 23px;
}

.reserva{
    cursor: pointer;
}

